body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px #BBAB8C;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline-color: #BBAB8C;
}

button {
    padding: 10px 20px;
    background-color: #B99470;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6B240C;
}

.task-box {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.delete-btn {
    background-color: #BBAB8C;
    color: white;
    padding: 4px 8px;
    border: none;
    cursor: pointer;
    border-radius: 20px; 
    transition: background-color 0.3s;
    margin-left: 10px;
}

.delete-btn:hover {
    background-color: #BBAB8C;
}

.checkbox {
    margin-right: 10px;
}

.spacer {
    width: 10px; 
}
