*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    min-height: 100vh;
    background: #C009C0 ;
}

.container{
    width: 850px;
    background: #fff;
    display: flex;
    gap: 70px;
    align-items: flex-end;
    padding: 60px 40px;
    border-radius: 10px;
}
.hangman-box{
    max-width: 270px;
}

.hangman-box h1{
    font-size: 1.45rem;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    
}
.word-display{
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.word-display .letter{
    width: 28px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    border-bottom: 3px solid #000;
}

.word-display .letter.guessed {
    border-color: transparent;
    margin: -40px 0 35px;
}

.game-box h4 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.game-box h4 b {
    font-weight: 300;
   
}

.game-box .guesses-text b{
       color: #ff0000;
}

.game-box .keyboard{
    display: flex;
    gap: 5px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.keyboard button[disabled]{
    opacity: 0.6;
    pointer-events: none;
}
:where(.game-modal, .keyboard) button{
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    padding: 7px;
    border: none;
    background: #C009C0;
    border-radius: 4px;
    text-transform: uppercase;
}
.keyboard button{
    padding: 7px;
    width: calc(100% / 9 - 5px);
}
.keyboard button:hover{
    background: #850885;
}

.game-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.6);
    transition: opacity 0.4s ease;
}

.game-modal.show{
    opacity: 1;
    pointer-events: auto;
     
}

.game-modal .content{
    background: #fff;
    max-width: 420px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
}
.game-modal img{
    max-width: 130px;
    margin-bottom: 20px;
}

.game-modal h4{
    font-size: 1.53rem;
}

.game-modal p{
    font-size: 1.15rem;
    margin: 15px 0 30px;
    font-weight: 500;
}
.game-modal p b{
    color: #850885;
    font-weight: 600;
    text-transform: uppercase;
}

.game-modal button{
    padding: 12px 23px;
}
@media (max-width: 782px){
    .container{
        flex-direction: column;
        padding: 30px 15px;
        align-items: center;
    }
    .hangman-box img{
        max-width: 200px;
    }
    .hangman-box h1{
        display: none;
    }
}